#header img.main-logo {
  display: block;
  position: relative;
  top: 35px;
  left: 120px;
}
#header h1 {
  margin-bottom: 10px;
}
#header a {
  display: block;
}
#interface a {
  display: block;
  margin-bottom: 15px;
}
#team img {
  margin-bottom: 25px;
}
#features .features-icon {
  font-size: 24px;
  position: relative;
  top: 5px;
  left: 0px;
}
