/* Roadmap */

  ul.milestones {

  }

  ul.milestones li.milestone > {
    font-family: @mailpile-text-font-family-semibold;
    font-size: 30px;
    line-height: 30px;
  }


  ul.issues {
    margin-left: 0px;
  }

  li.issue {
    border-bottom: 1px solid @gray;
  }

  li.issue:hover {
    background: @grayLight;
    cursor: move;
  }