	h1 strong,
	h2 strong,
	h3 strong,
	h4 strong,
	h5 strong {	
		font-family: Mailpile-700;	   
  }

  h5 a {
    font-size: 18px;
    font-family: Mailpile-700;
  }

  .color-red {
    color: @red
  }

  .color-green {
    color: @green
  }

  .color-blue {
    color: @blue
  }

	#content { 
		margin-top: 75px;
	}

	#header {
		margin-top: 0px;
	}

	#header img.main-logo {
		display: block;
		margin-top: -75px;
	}
	
	#header img.pages-logo {
		width: 100px;
		margin-top: 15px;	
	}

	#header h1 {
		font-size: 100px;
    font-family: Mailpile-700;
    margin-bottom: 25px;
	}
	
	#header h2 {
		font-size: 48px;
		margin-top: 25px;
		margin-bottom: 60px;
		font-family: Mailpile-300;		
	}
	
	#header a h2 {
	  margin-top: 25px;
    margin-bottom: 15px;
	}
	
	#header h6 {
		line-height: 24px;
	}

  hr.blog-hr {
    margin-top: 25px;
  }


/* Donate Page */

  #header-donate .icon-donate {
    font-size: 216px;
    line-height: 216px;
    color: @red;
  }

  #header-donate .icon-logo.big {
    font-size: 216px;
    line-height: 216px;
  }

	.donate-input {
	  margin-bottom: 15px;
  	text-align: center;
	}

	.donate-dollar {
	  margin-top: 18px;
	  margin-right: 6px;
	  font-size: 24px;
	  line-height: 24px;
	  display: inline-block;
	}

	.donate-input input {
	  width: 95px;
	  display: inline-block;
	}

	#interface a {
		display: block;
		margin-bottom: 15px;
	}


	#team img {
		margin-bottom: 25px;
	}


	#features td.features-table-icon {
		vertical-align: middle;
		text-align: center;
	}

	#features td.features-table-icon span {
		font-size: 24px;		
		position: relative;
		top: 5px;
		left: 0px;
	}
	
	#pages h1 {
		font-size: @headings-size-h2;
		line-height: (@headings-size-h2 * 1.15px);
	}
	
	li.navigation-github {
		display: none;
	}
	
	#footer ul {
		margin-left: 0px;
	}
	
	#footer ul li {
		list-style-type: none !important;
		margin-bottom: 5px;
	}


/* Demos */  

  #svg-logo_whole {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 280px;
  }
  
  #svg-logo_mail_1 {
    fill: hsl(357, 0%, 100%);

    -webkit-animation-name: glow-blue;
    -webkit-animation-delay: .5s;
    -webkit-animation-duration: .7s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: glow-blue;
    -moz-animation-delay: .5s;
    -moz-animation-duration: .7s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-direction: normal;
    -moz-animation-fill-mode: forwards;
  
    animation-name: glow-blue;
    animation-delay: .5s;
    animation-duration: .7s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }
  
  #svg-logo_mail_2 {
    fill: hsl(357, 0%, 100%);
    
    -webkit-animation-name: glow-red;
    -webkit-animation-delay: 1s;
    -webkit-animation-duration: .7s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: glow-red;
    -moz-animation-delay: 1s;
    -moz-animation-duration: .7s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-direction: normal;
    -moz-animation-fill-mode: forwards;

    animation-name: glow-red;
    animation-delay: 1s;
    animation-duration: .7s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }
  
  #svg-logo_mail_3 {
    fill: hsl(357, 0%, 100%);
  
    -webkit-animation-name: glow-green;
    -webkit-animation-delay: 1.5s;
    -webkit-animation-duration: .7s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: glow-green;
    -moz-animation-delay: 1.5s;
    -moz-animation-duration: .7s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-direction: normal;
    -moz-animation-fill-mode: forwards;

    animation-name: glow-green;
    animation-delay: 1.5s;
    animation-duration: .7s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }
  
  @-webkit-keyframes glow-blue {
    0% { fill: hsl(357, 0%, 100%); }
    100% { fill: hsl(197, 66%, 60%); }
  }

  @-moz-keyframes glow-blue {
    0% { fill: hsl(357, 0%, 100%); }
    100% { fill: hsl(197, 66%, 60%); }
  }
  
  @keyframes glow-blue {
    0% { fill: hsl(357, 0%, 100%); }
    100% { fill: hsl(197, 66%, 60%); }
  }
  
  @-webkit-keyframes glow-red {
    0% { fill: hsl(357, 0%, 100%); }
    100% { fill: hsl(357, 81%, 63%); }
  }

  @-moz-keyframes glow-red {
    0% { fill: hsl(357, 0%, 100%); }
    100% { fill: hsl(357, 81%, 63%); }
  }
  
  @keyframes glow-red {
    0% { fill: hsl(357, 0%, 100%); }
    100% { fill: hsl(357, 81%, 63%); }
  }
  
  @-webkit-keyframes glow-green {
    0% { fill: hsl(357, 0%, 100%); }
    100% { fill: hsl(112, 42%, 47%); }
  }

  @-moz-keyframes glow-green {
    0% { fill: hsl(357, 0%, 100%); }
    100% { fill: hsl(112, 42%, 47%); }
  }
  
  @keyframes glow-green {
    0% { fill: hsl(357, 0%, 100%); }
    100% { fill: hsl(112, 42%, 47%); }
  }



/* FAQ */

  #faq-search {
    display: none;
    width: 400px;
    border:solid 1px #ccc;
    border-radius: 5px;
    padding: 15px 20px;
    margin-bottom:10px;
    margin-right: 25px;
    font-size: 21px;
    line-height: 21px;
  }
  
  #faq-search:focus {
    outline:none;
    border-color:#aaa;
  }

  .list {
    margin:0;
    padding:20px 0 0;
  }
  .list > li {
    display:block;
    background-color: #eee;
    padding: 10px;
  }

  #answers li { margin: 25px 0px; }


  li.faq-section-title { background: @white; }
  li.faq-section-title h2 { font-family: Mailpile-700; margin: 20px 0px 20px 15px; }
  
  li.faq-item { border-radius: 10px; cursor: pointer; }
  li.faq-item:hover { background: @blue; }
  li.faq-item:hover h3.faq-title { color: @white; }

  li.faq-item h3.faq-title { margin: 15px 15px; font-family: Mailpile-500; font-size: 24px; line-height: 24px; }
  li.faq-item span.faq-section { display: none; }    
  li.faq-item p { margin: 0px 15px 10px 17px; color: #555555; font-size: 18px; font-family: Helvetica, Arial, sans-serif; }

  li.faq-item.open:hover { background: #eee; }
  li.faq-item.open:hover h3.faq-title { color: @red; }


/* Thanks */

  ul.backers { 
    text-align: center;
  }

  ul.backers li {
    display: inline-block;
    text-align: center;
    margin-right: 25px;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 16px;
  }


/* Download & Install */

  .download-os {
    display: inline-block;
    padding: 15px;
  }

  .download-os-on {
    background: @grayLight;
    border-radius: (@base-border-radius * 2);
  }

  .download-os-on:hover {
    background: darken(@grayLight, 3%);
  }

  .download-checksums {
    font-size: 12px;
    font-style: italic;
    color: @gray;
  }

  .download-checksums a {
    font-size: 12px;
    color: @gray;
  }