{% extends "/donate/index.jinja" %}

{% block title %}Donation canceled{% endblock %}

{% block content %}
    <div id="header-donate" class="clearfix">
        <div class="row text-center">
            <div class="add-bottom icon-logo big"></div>
            <h2 class="add-bottom text-center">Your donation to <strong>mail</strong>pile was cancelled</h2>
            <p>Sorry to hear you had a change of heart, it happens. Feel free to let <a href="mailto:team@mailpile.is?subject=I almost donated to Mailpile, but...">us know why</a>.</p>
            <p></p>
        </div>
    </div>
{% endblock %}
