{% extends "/donate/index.jinja" %}

{% block title %}Thanks For Your Donation{% endblock %}

{% block content %}
    <div id="header-donate" class="clearfix">
        <div class="row text-center">
            <div class="add-bottom icon-donate"></div>
            <h2 class="add-bottom text-center">Thanks for your donation to <strong>mail</strong>pile</h2>
            <p>Be sure to <a href="mailto:team@mailpile.is?subject=I Donated To Mailpile">email us</a> if you do not want to remain anonymous</p>
        </div>
    </div>
{% endblock %}
