{% extends "/jinja/layouts/page.html-jinja" %}
{% set page = {'breadcrumb': 'blog'} %}

{% block title %}Blog{% endblock %}

{% block page_sidebar %}
  {%- set dephack = cat("tweets/index.md") %}
  {%- set tweets = cat("tweets/tweets.json")|from_json %}
  <div class="tweets">
    <h4>Some Tweets</h4>
    {%- for tweet in tweets %}
      {%- if '/blog/' not in tweet.html_tweet %}
        {{ tweet.html_tweet|safe }}
      {%- endif %}
    {%- endfor %}
  </div>
{% endblock %}

{% block content %}
  {%- for fn in ls('.', '\.md$')[-4:]|reverse %}
    {% set page = cat(fn)|from_rfc822 -%}
    {% set url = fn|replace('.md', '.html') -%}
    <a href="{{ url }}"><h1>{{ page.subject }}</h1></a>
    <p><strong>Posted by <a href="#">{{ page.author }}</a>
               on {{ page.date }}</strong></p>
    {{ page.body|safe }}
  <hr>
  {%- endfor %}

  <h3>Older stuff</h3>
  <ul>
  {%- for fn in ls('.', '\.md$')[:-4]|reverse %}
    {% set page = cat(fn)|from_rfc822 -%}
    {% set url = fn|replace('.md', '.html') -%}
    <li><a href="{{ url }}">{{ page.subject }}</a></li>
  {%- endfor %}
  </ul>

{% endblock %}
