{% extends "layouts/page.html-jinja" %}
{% set page = {'type': 'full', 'breadcrumb': 'community'} %}

{% block title %}Community Roadmap{% endblock %}

{% block content %}

<h4 class="text-center half-bottom">Welcome to the <img src="/img/icon-48x48.png" style="margin-left: 10px; position: relative; top:15px"> <strong>mail</strong>pile</h4>
<h1 class="text-center">Community Roadmap</h1>

<div id="login-form" class="hide text-center">
  <p>Please login, cast your vote, and help decide the future of Mailpile!</p>
  <form id="form-community-login" class="standard full text-center clearfix">
    <input class="username" type="text" placeholder="username"> &nbsp;
    <input class="password" type="password" placeholder="password"> &nbsp;
    <button id="login" class="button-primary">Log in</button>
  </form>
  <p>Don't have a login? All you need to do is <a href="/donate/"><span class="icon-donate"></span> Donate $23.00 or more</a> per year to support the creation of Mailpile :)</p>
  <p><i>Donated already? Your invitation should arrive at some point in May 2015.</i></p>
</div>
<div id="logout-form" class="hide text-center clearfix">
  <h6 class="remove-bottom">Halló <strong class="login-nickname"></strong>, thanks for being part of our community <button class="button-primary logout">Log out</button></h6>
</div>

<hr>

<!-- Content -->
<div id="pages" class="clearfix">

  <div id="roadmap-details" class="row clearfix hide">
    <div class="col-10">
      <h3>Prioritize our Roadmap
          <img alt="" style="width: 30px;" src="/img/happy-star.png"></h3>
      <p>Our roadmap consists of new features, ideas, and known bugs that we
         are aware of. Drag items in list to let us know what issues are of
         the highest priority to you and what you'd like to see fixed the
         fastest. To propose a new item, please
         <a href="https://github.com/pagekite/mailpile/issues/new" target="_blank">file
         an issue on Github.</a></p>
    </div>
    <div class="col-6">
      <h3>Vote on Decisions
          <img alt="" style="width: 30px;" src="/img/happy-star.png"></h3>
      <p>There are decisions we need to make as a company & project. Cast
         your vote yes or no to decide the outcome of each.</p>
    </div>
  </div>

  <div class="row clearfix">
    <div class="col-10">
      <h4>Beta III and the 1.0 Release</h4>
      <div class="roadmap-single-choices add-bottom">
        <p>The 1.0 roadmap has been decided!</p>
        <p>Don't be disappointed if you did not get to vote on this, there
           was not really much to discuss. We will quite simply be shipping
           the <i>simplest thing possible</i> that fulfills the basic goals
           stated in our fundraising campaign.</p>
        <p>Here it is, in all it's pointy-haired-boss glory:</p>
        <p><img src="/files/2015-Summer-Roadmap.jpg" border="0"></p>
        <p>For details about what that chart actually means, check out
           <a href="/blog/2015-04-27_Roadmap_to_v1.html">Bjarni's blog post
           about the roadmap</a>.</p>
      </div>
      {{ cat('roadmap.html')|safe }}
    </div>
    <div class="col-6">
      <h4>Current Decisions</h4>
      <div class="roadmap-single-choices add-bottom">
        <div class="single-choice-election">
          <div data-options="">
            <span class="issue-title">
              <a href="/blog/2015-05-08_Choosing_a_License.html">Help choose a license for Mailpile 1.0</a></span>
            <span class="issue-details">
              Should Mailpile 1.0 be published under the Free Software
              Foundation's GNU AGPL version 3, or the more liberal Apache
              License version 2.0? Confused? So are we! Some links:
              <ul class="circle" style="margin-top: 1em;">
                <li><a target=_blank href="http://choosealicense.com/licenses/">Licenses at a glance</a></li>
                <li><a target=_blank href="https://www.gnu.org/philosophy/license-list.html">The FSF on Licenses</a></li>
                <li><a target=_blank href="http://oss-watch.ac.uk/resources/licdiff">OSS Watch on Licenses</a></li>
                <li><a target=_blank href="http://www.theregister.co.uk/2011/03/31/google_on_open_source_licenses/">Why Google avoids AGPLv3 code</a></li>
              </ul>
              Community comments:
              <ul class="circle" style="margin-top: 1em;">
                <li><a target=_blank href="/blog/2015-05-08_Choosing_a_License.html">Mailpile blog on licensing</a></li>
                <li><a target=_blank href="/blog/2015-06-15_Community_License_Feedback.html">Mailpile community feedback</a></li>
                <li><a target=_blank href="https://news.ycombinator.com/item?id=9511779">Hacker News</a></li>
                <li><a target=_blank href="http://www.reddit.com/r/programming/comments/35f3vr/mailpile_choosing_a_license_for_mailpile_10/">Reddit</a></li>
              </ul>
            </span>
            <p><b>Voting is closed!</b> <i>... we're counting ballots!</i></p>
          </div>
        </div>
        <div class="single-choice-election">
          <div class="issue" data-issue="30231" data-options="yes,no">
            <span class="issue-title"><a href="/files/the-mailpiles.jpg">Should the Mailpile team get new haircuts?</a></span>
            <span class="issue-details">Some people have complained. So, we wanted to put it to vote for you, dear community supporters, since after all we are using money you graciously donated.</span>
            <div class="vote-options"></div>
          </div>
        </div>
      </div>
      <div id="community-perks" class="hide">
        <h4>Community Perks</h4>
        <div class="roadmap-single-choices">
          <p class="remove-bottom">
            Want to get the most bleeding edge build of Mailpile? Download a
            daily snapshot to get the newest hotness, but beware of (and)
            report bugs, takk!
            <a href="https://www.mailpile.is/files/snapshots/" class="button-primary button-small add-top"><span class="icon-links"></span> Download Daily Snapshots</a>
          </p>
        </div>
      </div>
    </div>
  </div>

</div><!-- Content -->
<hr>
{% endblock %}
