{% extends "layouts/page.html-jinja" %}

{% block head_extra %}
    <!-- Hoi Poi additions -->
    <link rel="stylesheet" href="/css/hoipoi.css">
    <script src="/js/jquery.sortable.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <script src="/js/sjcl.js"></script>
    <script src="/js/hoipoi.js"></script>
{% endblock %}

{% block document_ready_extra %}
        // Hoi Poi community stuff
        hoipoi.init({
            url_db: "/hoipoi/db/",       // Directory of user json
            url_up: "/cgi-bin/mailpile/user-up.py",   // Path to update CGI scr
            url_mv: "/cgi-bin/mailpile/user-mv.py",   // Path to moving CGI scr
            url_mk: "/cgi-bin/mailpile/user-mk.py",   // Path to creating CGI s
            dom_login: ".login-form",        // Selector for login form
            dom_logout: ".logout-form",      // Selector for logout form
            dom_login_error: ".login-error", // Selector for "login failed"
            dom_nickname: ".login-nickname", // Selector for user's name
            cookie_user: "usr",              // Cookie to store user name
            cookie_token: "tok"              // Cookie to store token
        });
{% endblock %}

{% block title %}Roadmap{% endblock %}

{% block page_top %}
        <div id="header" class="clearfix">
            <div class="col-3 text-center">
                <a href="/"><img class="pages-logo" src="/img/icon-120x120.png"></a>
            </div>
            <div class="col-11">
                <a href="/"><h2><strong>mail</strong>pile</h2></a>
<!--            <h6>A modern, fast web-mail client with user-friendly encryption and privacy features. 100% Free and Open Source software</h6> -->
            </div>
            <div class="login-form" style="display: none;">
                <input class="username"/>
                <input class="password" type="password"/>
                <button id="login">Log in</button>
            </div>
            <div class="logout-form" style="display: none;">
                Hello, <span class="login-nickname"></span>
                <button class="logout">Log out</button>
            </div>
        </div>
        <hr class="blog-hr">
        <div class="row"></div>
{% endblock %}

{% block content %}{{ cat('roadmap.html')|safe }}{% endblock %}
