{% extends "/jinja/layouts/page.html-jinja" %}
{% set page = {'type': 'full'} %}

{% block title %}Mailpile Demo{% endblock %}
{% block head_extra %}
   <style type='text/css'>
     ul.languages {
       margin: 0 auto;
       max-width: 65%;
       list-style: none;
     }
     ul.languages li {
       display: inline-block;
       width: 30%;
       margin: 0 -5em 5px 5.1em;
       text-align: left;
     } 
     ul.languages li tt {
       font-weight: normal;
       font-size: 0.8em;
     }
   </style>
{% endblock %}
{% block content %}
<h4 class="text-center half-bottom">Explore a demo version of the <img src="/img/icon-48x48.png" style="margin-left: 10px; position: relative; top:15px"> <strong>mail</strong>pile</h4>
<h1 class="text-center">Release Candidate</h1>

<div class="row add-bottom text-center">
  <a class="button-primary center" href="https://demo.mailpile.is/C/">Try Mailpile in English (US)</a>
</div>

<div class="row text-center">
  <p>Or select one of the other languages we have demos available in:</p>
</div>

<div class="row add-bottom">
<ul class="languages">{{ cat("languages.html")|safe }}</ul>
</div>

<div class="row"></div>

<div class="row add-top add-bottom">
  <div class="col-offset-3 col-10 text-center">
    <p>Note that some translations may be incomplete. We will update the demos and add new languages as our community of translators catches up with all the changes!</p>
    <p>Interested in helping Mailpile exist in your language? Please <a href="https://www.transifex.com/projects/p/mailpile/" target="_blank">join the project on Transifex</a> to help with translations or reviewing already submitted translations.</p>
  </div>
</div>

<hr>

{% endblock %}
